* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  padding: 0;
  margin: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#title {
  font-weight: bold;
  font-size: 18px;
  padding: 0 15px;
}

nav a {
  text-decoration: none;
  color: rgba(44, 44, 44, 1);
}

nav .link {
  padding: 0 10px;
  transition: all 0.1s;
}

nav .link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

nav .link:active {
  background-color: rgba(0, 0, 0, 0.1);
}

nav .separator {
  margin: 0 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

nav form {
  display: flex;
}

nav form button {
  font-size: 16px;
  margin: 10px 0;
  line-height: 30px;
}

nav form input {
  display: block;
  border: none;
  flex: 1;
  padding: 5px;
  height: calc(100% - 10px);
  line-height: 30px;
  font-size: 14px;
}

#nav-search-form {
  display: flex;
  flex: 1;
  padding-right: 10px;
}

main {
  width: 100%;
  height: calc(100% - 51px);
}
